footer {
    position: fixed;
    bottom: 0;
    right: 0; 
    padding-right: 30px;    
}

.foot-img {
    position: relative;
    float: right;
    padding-bottom: 10px;
}

footer h3 {
    margin-right: -40px;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.description {
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
}